*.iml
.gradle
local.properties
.DS_Store
/build
/captures
.externalNativeBuildOutputDir
.cxx
local.jar
.idea/*
!.idea/gradle.xml
!.idea/libraries
.idea/caches
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
